
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Lançar Gabarito</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-box">
        <div class="logo">Admin</div>
        <h2>Lançar Gabarito Oficial</h2>
        <form method="POST">
            <input type="text" name="respostas" placeholder="Gabarito oficial (ex: ABCDE...)"><br>
            <input type="submit" value="Salvar Gabarito">
        </form>
    </div>
</body>
</html>
