
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-box">
        <div class="logo">X</div>
        <h2>Acesso do Candidato</h2>
        <form method="POST">
            <input type="text" name="cpf" placeholder="Digite seu CPF"><br>
            <input type="password" name="senha" placeholder="Digite sua senha"><br>
            <input type="submit" value="Entrar">
        </form>
        <a href="/inscricao">Não possui inscrição? Clique aqui e faça agora!</a>
    </div>
</body>
</html>
